<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <title>{{title}}</title>
</head>

<body>
  <header>
    {{> header}}
  </header>
  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  <footer>
    footer
  </footer>
</body>

</html>