<ul class="list">
  {{#each movies}}
  <li class="item">
    <a href="/film/{{getTRanslit.}}">
      <img class="image" width="100" src="{{getImagePath.}}">
    </a>
    <div class="description">
      <h3 class="title">{{getTitle.}}</h3>
      <p>{{getId.}}</p>

    </div>
  </li>
  {{/each}}
</ul>