<h1>
  comments {{film}}
</h1>

<form action="/comments/{{film}}" method="POST">
  <textarea id="textarea" cols="100" rows="10" name="text"></textarea><br />

  <button type="submit">добавить комментарии</button>
</form>