<div class="center">
  <h1>
    comments {{film}}
  </h1>

  <form action="/comments/{{film}}" method="POST">
    <textarea autofocus id="textarea" cols="100" rows="10" name="text"></textarea><br />
    <br />
    <button class="add_comment" type="submit">добавить комментарии</button>
  </form>
</div>