<div class="center">
  <h1>
    Как Вас зовут?
  </h1>

  <form action="/initial/" method="POST">
    <input autofocus class="init-input center" type="text" name="name"><br /><br />
    <button class="init-btn" type="submit">готово</button>
  </form>
</div>