.container {
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  justify-content: space-between;
  display: flex;
  padding: 30px;
  background-color: #d7bbbb;
  border-radius: 20px;
  margin-bottom: 10px;
}

.nav select {
  margin-right: 15px;
}

.nav a {
  margin-right: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-top: 0;
}

.cards {
  display: flex;
  margin-bottom: 20px;
}

.genre {
  min-width: 130px;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid #989898;
  border-radius: 20px;
  background-color: #ffdede;
}

.item {
  position: relative;
  gap: 20px;
  display: flex;
  padding: 20px;
  border: 1px solid #989898;
  border-radius: 20px;
  background-color: #e8e8e8;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item-number {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.image {
  border-radius: 10px;
  object-fit: scale-down;
}

.title {
  margin: 0;
}

.film_card {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  padding: 20px 30px;
  border: 1px solid #333;
  border-radius: 20px;
  margin-bottom: 20px;
}

.descr-film {
  margin-bottom: 50px;
  border-radius: 30px 10px;
  padding: 30px 30px;
  background-color: #fdc8cb;
}

.page-film {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #6854ff;
  color: #fff;
}

.page-film:hover {
  background-color: #2e13ff;
  transition: 400ms linear;
}

.info {
  display: flex;
  justify-content: space-between;
}

.descr {
  border-radius: 30px 10px;
  padding: 30px 30px;
  background-color: #deffaf;
}

.actors {
  border-radius: 10px 30px;
  padding: 10px 30px;
  background-color: #fff4be;
}

.show {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ff5454;
  color: #fff;
}

.show a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.show:hover {
  background-color: #e01c1c;
  transition: 400ms linear;
}

.pagination-wrapper {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-link {
  padding: 5px 20px;
  background-color: #aad5ff;
  border: 1px solid #3198fe;
  color: #153a5f;
  border-radius: 10px;
  text-decoration: none;
}

.page {
  margin: 0 40px;
}

.page-link {
  text-decoration: none;
}

.page-bottom {
  font-size: 30px;
}

.asd:hover {
  background-color: #7fbffe;
  transition: 400ms linear;
}

.asd:active {
  background-color: #aad5ff;
  transition: 400ms linear;
}

.red {
  outline: 2px solid red;
  border-radius: 20px;
  outline-offset: 7px;
  color: red;
}

/* comments */

.wrapper-comments {
  padding: 20px 30px;
  border: 1px solid #333;
  border-radius: 20px;
}

.comment-item {
  padding: 10px 20px;
  background-color: #d1f8c4;
  border-radius: 10px;
}

.comment-item:not(:last-child) {
  margin-bottom: 10px;
}

.comment-link {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #5495ff;
  color: #fff;
}

.comment-link a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.comment-link:hover {
  background-color: #1f6ae2;
  transition: 400ms linear;
}

.link_to_film {
  text-decoration: none;
}

.link_to_film,
.add_comment {
  padding: 10px 20px;
  background-color: #5879fd;
  border-radius: 30px;
  color: #fff;
  font-size: 1.5rem;
  border: none;
}

.link_to_film:hover,
.add_comment:hover {
  background-color: #214dff;
  transition: 400ms linear;

}

/* rating */

.rating-link {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #39a33d;
  color: #fff;
}

.rating-link a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.rating-link:hover {
  background-color: #277129;
  transition: 400ms linear;
}

textarea {
  padding: 20px;
  background-color: #cbf4a7;
  border: none;
  border-radius: 20px;
  resize: none;
}

.name {
  color: red;
}

#rating_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #36fa43;
  font-size: 1.5rem;
}

/* initial */

.center {
  text-align: center;
}

.init-input {
  font-size: 1.5rem;
  background-color: #a5fc85;
  border-radius: 15px;
  border: none;
  padding: 10px 40px;
}

.init-btn {
  border: none;
  background-color: #4b7ffa;
  border-radius: 15px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.5rem;
}

.disable {
  display: none;
}